body{
    font-family: 'Roboto Condensed', sans-serif;
    border:0;
  
}

.orange-color{
    color:orange;
}

h1{
    font-size:45px;
}

.flexible{
    display:flex;
    padding-bottom: 100px;

}

.half-width{
    width:50%;
    padding:5%;
}

.half-width img{
    width:80%;
}

.linked-button{
    text-decoration: none;
    padding:10px 40px;
    background-image: linear-gradient(orange,tomato);
    border-radius:5px;
    color:white;
    font-weight: 700;
}

.sec-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.exp{
    width:40%;
    margin:5%;
    padding-left:15px;
    box-shadow: 10px 10px 30px red;   
}

#web1{
    border-left:10px solid rgba(255, 166, 0, 0.596);
}

#web2{
    border-left:10px solid rgba(94, 255, 0, 0.596);
}
.exp-header{
    text-align:center;
}

.dream-big{
    background-image:url(images/dream-bg.png);
    background-repeat:no-repeat;
    background-position: right;
}

.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}

footer p{
    text-align: center;
}